In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("day1.csv")

In [3]:
data

      data
0      109
1      117
2      118
3       98
4      102
...    ...
1995  6289
1996  6292
1997  6293
1998  6297
1999  6308

[2000 rows x 1 columns]

In [4]:
part_1 = (data.diff() > 0).sum()
print(f"Part 1:{part_1}")

Part 1:data    1448
dtype: int64

In [5]:
part_2 = (data.rolling(3).sum().diff() > 0).sum()
print(f"Part 2:{part_2}")

Part 2:data    1471
dtype: int64